<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
	<body>
	
	<section class="my-5">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8 mx-auto">
	                <form method="post" th:action="@{/uploadsavePatent}" enctype="multipart/form-data">
	                    <div class="form-group">
	                        <input type="file" name="file" class="form-control-file">
	                    </div>
	                    <button type="submit" class="btn btn-primary">Upload File</button>
	                </form>
	            </div>
	        </div>
	    </div>
	</section>	
<!-- 	    <a th:href="@{/savePatent}">Save Patent</a> -->
	    <div th:if="${returnedTextBoolean}"><h1 th:text="${returnedText}"></h1></div>
	</body>
</html>